@tailwind base;
@tailwind components;
@tailwind utilities;


.custombg {
      background-image: linear-gradient(#18181880,#22222210),url('/assets/man.png');
      background-position: center;
      background-size: cover;
    }
  



